body{
    background: url('https://t4.ftcdn.net/jpg/03/45/88/07/360_F_345880772_zIT2mkdCzTthplO7xqaGGrMspN0jw0ll.jpg') ;
    background-repeat: no-repeat;  
    background-size: cover; 
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
   
   
}
.question{
    align-items: center;
    justify-content: center;
    text-align: center;
    

}

button{
    background-color: rgb(0, 1, 6);
    box-shadow:2px 3px 4px white ;
    border: 10px solid darkblue;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: blueviolet;
    text-shadow: 5px 10px 10px rgb(239, 56, 117);
    font-size:xx-large;
    
  
    

}

.div1{
    color:rgb(236, 177, 177);
    border-radius: 30px;
    text-shadow: 5px 10px 7px white;
}
h1{
    color:white;
    text-shadow: 5px 10px 5px lightblue;

}
p{
    color: lightblue;
    font-size: large;

}




















